<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giantlizardcloud.merchant.mapper.SettleMapper">

    <resultMap id="getSettle" type="com.giantlizardcloud.merchant.vo.SettleWithAnnexVo">
        <id column="settle_id" property="settleId"></id>
        <result column="settle_number" property="settleNumber"></result>
        <result column="client_id" property="clientId"></result>
        <result column="client_name" property="clientName"></result>
        <result column="settle_sum" property="settleSum"></result>
        <result column="settle_status" property="settleStatus"></result>
        <result column="settle_method" property="settleMethod"></result>
        <result column="settle_account_number" property="settleAccountNumber"></result>
        <result column="settle_date" property="settleDate"></result>
        <result column="settle_remark" property="settleRemark"></result>
        <result column="insert_user" property="insertUser"></result>
        <result column="insert_user_name" property="insertUserName"></result>
        <result column="insert_time" property="insertTime"></result>
        <result column="settle_invalid_user" property="settleInvalidUser"></result>
        <result column="invalid_user_name" property="invalidUserName"></result>
        <result column="settle_invalid_time" property="settleInvalidTime"></result>
        <collection property="children" ofType="string"
                    select="com.giantlizardcloud.merchant.mapper.SettleAnnexMapper.getAllAnnexBySettleId" column="settle_id">
        </collection>
    </resultMap>

    <sql id="getAllColumn">
        SELECT
            ms.settle_id,
            ms.settle_number,
            ms.client_id,
            ms.settle_sum,
            ms.settle_status,
            ms.settle_method,
            ms.settle_account_number,
            ms.settle_date,
            ms.settle_remark,
            ms.insert_user,
            ms.insert_time,
            ms.settle_invalid_user,
            ms.settle_invalid_time,
            su.username as insert_user_name,
			invalid.username as invalid_user_name,
			mc.client_name as client_name
        FROM
            merchant_settle ms
        LEFT JOIN merchant_client mc
					ON ms.client_id = mc.client_id
        LEFT JOIN sys_user su
					ON ms.insert_user =  su.user_id
		LEFT JOIN sys_user invalid
					ON ms.insert_user =  invalid.user_id
        WHERE 1=1
    </sql>

    <select id="getSettleByCondition" resultMap="getSettle">
        <include refid="getAllColumn"></include>
        <if test=" settleNumber != '' and  settleNumber != null">
            AND settle_number = #{settleNumber}
        </if>
        <if test=" clientId != '' and  clientId != null">
            AND client_id = #{clientId}
        </if>
        <if test=" settleStatus != '' and  settleStatus != null">
            AND settle_status = #{settleStatus}
        </if>
        <if test=" settleMethod != '' and  settleMethod != null">
            AND settle_method = #{settleMethod}
        </if>
        <if test=" settleStartDate != '' and  settleStartDate != null
            and settleEndDate != '' and  settleEndDate != null">
            AND settle_date BETWEEN #{settleStartDate} AND #{settleEndDate}
        </if>
        ORDER BY settle_date desc
        LIMIT #{page},#{size}
    </select>
</mapper>
